@font-face {
    font-family: 'Noteworthy';
    src: url('Noteworthy-Bold.woff2') format('woff2'),
        url('Noteworthy-Bold.woff') format('woff'),
        url('Noteworthy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

